primary-color = #ff0000

header-height = 90px
header-bg-color = #f3f5f2
header-text-color = #7d94b4

footer-height = 100px
footer-bg-color = #c4cbd8
footer-text-color = #27375A

site-text-color = #273759
