@import _fonts
@import _mixins
@import _variables

html, body
  height 100%
  
body
  font 300 16px 'Proxima Nova', sans-serif
  line-height 1.5em
  color site-text-color

.md-body
  img
    display block
    
  h1
    line-height 1.25em
    font-weight 300

  h2
    line-height 1.5em
    font-size 1.5em
    font-weight 400
    
  h3
    line-height 1.5em
    font-size 1.17em
    font-weight 400
    
  .form-control
    border solid thin #606c84 !important

  label
    font-weight 300 !important
  
.md-container
  max-width 960px
  height 100%
  padding 0 15px
  margin 0 auto

.padding-15
  padding 15px
  
.no-padding
  padding 0
  
.colored-bg
  background-color header-bg-color
  
.gray-text
  color gray
  
.border-top
  border-top solid 2px #fff

.md-btn
  outline none !important
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  -webkit-appearance none
  height 36px
  line-height 36px
  padding 0 15px
  color site-text-color
  background-color transparent
  border solid thin site-text-color
  border-radius(5px)
  behavior url('../polyfills/PIE.htc')
  position relative
  &.rounded
    border-radius(18px)
  &.large
    height 48px
    line-height 48px
    padding 0 30px
    font-size 18px
    font-weight 300
    &.rounded
      border-radius(24px)
  &.colored
    color #fff
    border none
  &.colored.green
    background-color #50d869
    &:active
      box-shadow(0 0 20px #50d869)
  &.colored.blue
    background-color #57a6fd
    &:active
      box-shadow(0 0 20px #57a6fd)
  &.colored.darkblue
    background-color #7f93b6
    &:active
      box-shadow(0 0 20px #7f93b6)
  &.colored.lightgray
    color site-text-color
    background-color #f3f5f2
    &:active
      background-color darken(#f3f5f2,7.5)
      box-shadow(0 0 20px #f3f5f2)
  &:active
    box-shadow(0 0 20px site-text-color)

hr.or
  position relative
  margin 30px 0
  &:before
    content "Or"
    position absolute
    top -12px
    left 50%
    margin-left -20px
    width 40px
    text-align center
    background-color #fff

.full-width
  width 100%
.full-height
  height 100%
  
.md-form
  max-width 500px
  margin 0 auto
  
  .md-btn
    min-width 100px
  
// Header // ------------------------------------------------------

#header
  height header-height
  color header-text-color
  background-color header-bg-color
  
  .logo
    height 100%
    width 200px
    background-image url('../images/logo.png')
    background-position left center
    background-size 120px auto
    -ms-behavior url("../polyfills/backgroundsize.min.htc")
    background-repeat no-repeat
    
  .md-navbar
    margin-bottom 0
    line-height header-height
    
    li
      padding 0 15px
      &:hover
        a
          color site-text-color
    
    a
      color header-text-color
      text-decoration none
      
  #login-btn
    margin 27px 0 0 15px
    
  #menu-btn
    display none
    overflow hidden
    position relative
    width 60px
    height 60px
    margin-right -15px
    background transparent url(../images/menu_icon1.png) center no-repeat
    background-size 40%
    -ms-behavior url("../polyfills/backgroundsize.min.htc")
    cursor pointer
    z-index 10
    &.active
      overflow visible
      background #273759 url(../images/menu_icon2.png) center no-repeat
      background-size 40%
      
    .menu
      position absolute
      top 60px
      right 0
      list-style none
      min-width 180px
      margin 0
      padding 0
      background-color #273759
      
      li
        padding 15px
        border-bottom solid thin #445270
        
      a
        display block
        color rgba(255,255,255,.6)
        text-decoration none
        &:hover
          color #fff

// Dialog // ------------------------------------------------------

.modal-content
  overflow hidden
  .modal-header
    border-bottom none
    h2
      font-weight 300
  
.md-modal-header
  height 56px
  padding 0
  
.login-title
  float left
  display block
  width 50%
  height 100%
  line-height 56px
  text-align center
  background-color header-bg-color
  cursor pointer
  &.active
    background-color #fff

// Main // --------------------------------------------------------
      
#main
  position relative
  // min-height 100%
 
// Footer // ------------------------------------------------------

#footer
  width 100%
  color footer-text-color
  background-color footer-bg-color
  
  a
    color footer-text-color
    text-decoration none
  
// Index Page (Desktop) // ----------------------------------------

.index-desktop
  overflow hidden
  
  .md-container
    max-width 768px
  .colored-bg
    background-color #f8f9f7
    box-shadow(inset 0 15px 100px #b9bcc4)
  h1
    font-size 28px
  ul
    padding-left 15px
    
  .row
    position relative
    height 100%
    
    .bg-img
      position absolute
      bottom 0
      height 90%
      &.pos-left
        right 45%
        text-align right // IE fix
      &.pos-right
        left 60%
      img
        display inline-block // IE fix
        
    .content
      &.pos-left
        padding 50px 0 0 100px
      &.pos-right
        padding 50px 0 0 75px
        
  .index-1
    background transparent url(../images/index_s1_bg.png) center bottom no-repeat
    background-size cover
    -ms-behavior url("../polyfills/backgroundsize.min.htc")
    .md-container
      height 360px
      background transparent url(../images/index_s1_1.png) center bottom no-repeat
    .bg-img.pos-left
        right 55%
      
  .index-2>.md-container
    height 330px
    background transparent url(../images/index_s2_1.png) center top no-repeat
  
  .index-3>.md-container
    height 330px
    background transparent url(../images/index_s3_1.png) center top no-repeat
    
  .index-4>.md-container
    height 330px
    background transparent url(../images/index_s4_1.png) center top no-repeat
  
  .index-5>.md-container
    height 330px
    background transparent url(../images/index_s5_1.png) center top no-repeat
    .bg-img
      height 80%
  
// Index Page (Mobile) // -----------------------------------------

.index-mobile
  display none
  overflow hidden
  
  .colored-bg
    background-color #f8f9f7
    box-shadow(inset 0 15px 100px #b9bcc4)
  h1
    font-size 28px
  ul
    padding-left 15px
  
  .row
    position relative
    height 100%
    
    .bg-img
      max-width 280px
      margin 0 auto
      padding-left 30px
      img
        display inline-block
        &.full-width
          width 150%
    
    .content
      box-sizing(content-box) // IE fix
      max-width 215px // IE fix
      margin 0 auto
      padding 10px 15px 15px 70px
  
  .index-0
    height 240px
    background transparent url(../images/index_s1_bg.png) center bottom no-repeat
    background-size cover
    -ms-behavior url("../polyfills/backgroundsize.min.htc")
  
  .index-1
    background-color header-bg-color
    .md-container
      background transparent url(../images/index_s1_1_mb.png) center bottom no-repeat
      
  .index-2>.md-container
    background transparent url(../images/index_s2_1_mb.png) center top no-repeat
    
  .index-3>.md-container
    background transparent url(../images/index_s3_1_mb.png) center top no-repeat
    
  .index-4>.md-container
    background transparent url(../images/index_s4_1_mb.png) center top no-repeat
    
  .index-5>.md-container
    background transparent url(../images/index_s5_1_mb.png) center top no-repeat
    
// Patients Page // -----------------------------------------------

.patients-1
  .app-store-btn
  .google-play-btn
    display inline-block
    width 155px
    height 54px
    margin 1em 0
    cursor pointer
  .app-store-btn
    background transparent url(../images/appstore.png) center no-repeat
  .google-play-btn
    background transparent url(../images/googleplay.png) center no-repeat
  
.patients-2
  h2
    margin-top 15%
    
.patients-4
  .icon
    float left
    
  .content
    margin-left 95px
    padding 0 15px 0 30px
    
    h3
      margin-top 0
      
// Professionals Page // ------------------------------------------

.professionals-2
  h5
    margin 0
    
.professionals-4
  .open-quote
    margin-top 1em
    margin-bottom 0
    font-size 5em
    text-align left
    line-height 0
  .close-quote
    margin-top 0.5em
    margin-bottom 0
    font-size 5em
    text-align right
    line-height 0
  .quote
    margin 0 30px
    
.professionals-5
  .price-panel
    position relative
    min-height 620px
    background-color #fff
    border solid thin #c4cbd8
    p
      margin 1em 0
    .head
      overflow auto
      text-align center
    .content
      padding 0 15px 110px
    .foot
      position absolute
      bottom 0
      left 0
      right 0
      padding 15px 15px 0
      text-align center
      
  .basic
    margin-left 20%
    .head
      background-color header-bg-color
    
  .paid
    margin-right 20%
    .head
      background-color #c4cbd8

// Contact Page // ------------------------------------------------

.contact-2
  .contact-form
    max-width 350px
    margin 0 auto
  
  .md-btn
    min-width 100px
    