@import _mixins
@import _variables

@media mqSmartphone
  #header
    height 60px
    
  // Index Page
  
  .index-desktop
    display none
  .index-mobile
    display block

  // Patients Page
    
  .patients-1
    .app-store-btn
    .google-play-btn
      display block
      margin 5px auto
  
  .patients-2
    h2
      margin-top 20px
      
  .patients-4
    .icon
      float none
      margin: 0 auto 15px
      
    .content
      margin-left 0
      padding 0
  
  // Professionals Page
    
  .professionals-5
    .basic
    .paid
      min-height 0
      margin-left 0
      margin-right 0
