@import _mixins
@import _variables

@media mqSmartphone
  #header
    height 60px
    #login-btn
      display none
    .md-navbar
      display none
    #menu-btn
      display block
      
  // Index Page
  
  .index-wrapper
    .row
      .bg-img
        position relative
        bottom auto
        height auto
        
        max-width 280px
        margin 0 auto
        padding-left 30px
        &.pos-left
          right auto
        &.pos-right
          left auto
        img
          &.full-height
            width 150%
            height auto
    
      .content
        float none
        width auto
        
        margin 0 0 0 50%
        &.pos-left
        &.pos-right
          padding 10px 15px 15px 15px
          .trick
            margin-left -95px
      
    .index-0
      display block
      
    .index-1
      padding-top 0
      background-color header-bg-color
      background-image none
      .md-container
        height auto
        background transparent url(../images/index_s1_1_mb.png) center bottom no-repeat
        .bg-img
          display none
        .content
          max-width none
          margin 0
          padding 15px
        
    .index-2>.md-container
      background transparent url(../images/index_s2_1_mb.png) center top no-repeat
      
    .index-3>.md-container
      background transparent url(../images/index_s3_1_mb.png) center top no-repeat
      
    .index-4>.md-container
      background transparent url(../images/index_s4_1_mb.png) center top no-repeat
      
    .index-5>.md-container
      background transparent url(../images/index_s5_1_mb.png) center top no-repeat

  // Patients Page
    
  .patients-1
    .app-store-btn
    .google-play-btn
      display block
      margin 5px auto
  
  .patients-2
    h2
      margin-top 20px
      
  .patients-4
    .icon
      float none
      margin: 0 auto 15px
      
    .content
      margin-left 0
      padding 0
  
  // Professionals Page
    
  .professionals-5
    .basic
    .paid
      min-height 0
      margin-left 0
      margin-right 0
