#footer.text-center
  .md-container.fluid-container.padding-15
    .row
      .col-sm-4
        h3.text-uppercase About us
        ul.list-unstyled
          li
            a(href="") Contact Us
      .col-sm-4
        h3.text-uppercase Mydoc
        ul.list-unstyled
          li
            a(href="") Patients
          li
            a(href="") Professionals
          li
            a(href="") Employers
          li
            a(href="") Partners
      .col-sm-4
        h3.text-uppercase Legal
        ul.list-unstyled
          li
            a(href="") Terms & Conditions
          li
            a(href="") Privacy Policy
