#header
  .md-container
    .logo.pull-left

    div.login-btn.btn.md-btn.rounded.pull-right Sign in
    ul.md-navbar.list-inline.pull-right
      li
        a(href="patients.html") Patients
      li
        a(href="professionals.html") Professionals
      li
        a(href="employers.html") Employers
      li
        a(href="partners.html") Partners

  //- .md-container
  //-   nav.navbar.navbar-default(role="navigation")
  //-     .container-fluid
  //-       .navbar-header
  //-         button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
  //-           span.sr-only Toggle navigation
  //-           span.icon-bar
  //-           span.icon-bar
  //-           span.icon-bar
  //-         a.navbar-brand
  //-           .logo

  //-       .collapse.navbar-collapse#bs-example-navbar-collapse-1
  //-         ul.nav.navbar-nav.navbar-right
  //-           li
  //-             a(href="#") Link
  //-           li
  //-             a(href="#") Link
  //-           li
  //-             a(href="#") Link
  //-           li
  //-             a(href="#") Link