doctype html
html(lang="en")
  include partials/head

  body.md-body
    include partials/header
    #main.index-desktop
      .section.index-1
        .md-container.fluid-container
          .row
            .bg-img.pos-left
              img.full-height(src="../images/index_s1_2.png")
            .col-xs-6.col-xs-offset-6.text-center.no-padding
              h1 The Healthcare Communication 
                br
                | Service That Just Works
              p Streamlined communication 
                br
                | that benefits everyone
              br
              br
              br
              br
              br
              a.btn.md-btn.rounded.colored.green(href="professionals.html#pricing") Get Started
      .section.index-2.colored-bg.border-top
        .md-container.fluid-container
          .row
            .col-xs-8.content.pos-left
              h1 PATIENTS
              h3 Manage your health, anytime, anywhere
              ul
                li Communicate with your care team
                li Build your secure portable health diary
                li Get help from our medical concierge
              a.btn.md-btn.rounded.colored.darkblue(href="patients.html") Learn More
            .bg-img.pos-right
              img.full-height(src="../images/index_s2_2.png")
      .section.index-3.colored-bg.border-top
        .md-container.fluid-container
          .row
            .bg-img.pos-left
              img.full-height(src="../images/index_s3_2.png")
            .col-xs-7.col-xs-offset-7.content.pos-right
              h1 PROFESSIONALS
              h3 Grow your practice
              ul
                li Extend your practice with technology
                li Engage and retain your existing patients
                li Improve the quality of service & care
              a.btn.md-btn.rounded.colored.darkblue(href="professionals.html") Learn More
      .section.index-4.colored-bg.border-top
        .md-container.fluid-container
          .row
            .col-xs-8.content.pos-left
              h1 EMPLOYERS
              h3 Cost saving health benefits everyone loves
              ul
                li Reduce costs with MyDoc consultations
                li Highly valued innovative benefits
                li Say hello to actionable data
              a.btn.md-btn.rounded.colored.darkblue(href="employers.html") Learn More
            .bg-img.pos-right
              img.full-height(src="../images/index_s4_2.png")
      .section.index-5.colored-bg.border-top
        .md-container.fluid-container
          .row
            .bg-img.pos-left
              img.full-height(src="../images/index_s5_2.png")
            .col-xs-7.col-xs-offset-7.content.pos-right
              h1 PARTNERS
              h3 Grow with us
              ul
                li Secure health communications platform
                li Enterprise grade API
                li Easy to deploy
              a.btn.md-btn.rounded.colored.darkblue(href="partners.html") Learn More

    .index-mobile
      .section.index-0
        .md-container.fluid-container
          .row
            .bg-img.full-height.text-center
              img.full-height(src="../images/index_s1_2.png")
      .section.index-1
        .md-container.fluid-container
          .row
            .col-xs-12.padding-15.text-center
              h1 The Healthcare Communication 
                br
                | Service That Just Works
              p Streamlined communication 
                br
                | that benefits everyone
              br
              br
              br
              br
              a.btn.md-btn.rounded.colored.green(href="professionals.html#pricing") Get Started
      .section.index-2.colored-bg.border-top
        .md-container.fluid-container
          .row
            .content
              h1 PATIENTS
              h3 Manage your health, anytime, anywhere
              ul
                li Communicate with your care team
                li Build your secure portable health diary
                li Get help from our medical concierge
              a.btn.md-btn.rounded.colored.darkblue(href="patients.html") Learn More
            .bg-img
              img.full-width(src="../images/index_s2_2.png")
      .section.index-3.colored-bg.border-top
        .md-container.fluid-container
          .row
            .content
              h1 PROFESSIONALS
              h3 Grow your practice
              ul
                li Extend your practice with technology
                li Engage and retain your existing patients
                li Improve the quality of service & care
              a.btn.md-btn.rounded.colored.darkblue(href="professionals.html") Learn More
            .bg-img
              img.full-width(src="../images/index_s3_2.png")
      .section.index-4.colored-bg.border-top
        .md-container.fluid-container
          .row
            .content
              h1 EMPLOYERS
              h3 Cost saving health benefits everyone loves
              ul
                li Reduce costs with MyDoc consultations
                li Highly valued innovative benefits
                li Say hello to actionable data
              a.btn.md-btn.rounded.colored.darkblue(href="employers.html") Learn More
            .bg-img
              img.full-width(src="../images/index_s4_2.png")
      .section.index-5.colored-bg.border-top
        .md-container.fluid-container
          .row
            .content
              h1 PARTNERS
              h3 Grow with us
              ul
                li Secure health communications platform
                li Enterprise grade API
                li Easy to deploy
              a.btn.md-btn.rounded.colored.darkblue(href="partners.html") Learn More
            .bg-img
              img.full-width(src="../images/index_s5_2.png")
    include partials/footer
