doctype html
html(lang="en")
  include partials/head

  body
    include partials/header
    #main
      .md-container
        .container-fluid
          .row
            .col-sm-6 Hello
            .col-sm-6 Hope
    include partials/footer
