doctype html
html(lang="en")
  include partials/head

  body.md-body
    include partials/header
    #main
      .section.partners-1.colored-bg.text-center
        .md-container.fluid-container.padding-15
          .row
            .col-sm-12
              h1 Stay competitive, grow revenue and manage costs
              h3 We partner with insurers, health systems, retailers and others seeking to deliver digital health services to their customers.
              br
              a.btn.md-btn.large.rounded.colored.green(href="contact.html") Contact Us
              br
              br

      .section.partners-2.text-center
        .md-container.fluid-container.padding-15
          .row
            .col-sm-4.padding-15
              img.icon.center-block(src="../images/partners_icon1.png")
              .content
                h3 A secure, 
                  br
                  | health communications platform
            .col-sm-4.padding-15
              img.icon.center-block(src="../images/partners_icon2.png")
              .content
                h3 High quality 
                  br
                  | yet cost-effective care
            .col-sm-4.padding-15
              img.icon.center-block(src="../images/partners_icon3.png")
              .content
                h3 A highly valued benefit, 
                  br
                  | without geographic limits
    include partials/footer
