doctype html
html(lang="en")
  include partials/head

  body.md-body
    include partials/header
    #main
      .section.professionals-1.colored-bg.text-center
        .md-container.fluid-container.padding-15
          .row
            .col-sm-12
              h1 Your Patients are your business
              h3 MyDoc helps you keep them engaged and grow your practice. Here's how
              br
              #professionals-get-started.btn.md-btn.large.rounded.colored.green Get Started
              br
              br

      .section.professionals-2
        .md-container.fluid-container.padding-15
          .row
            .col-sm-4.padding-15
              img.icon.center-block(src="../images/professionals_icon1.png")
              .content
                h3 Extend your practice with technology
                p Not all encounters need a physical visit. Free up exam rooms and see more patients by shifting appropriate appointments to video.
            .col-sm-4.padding-15
              img.icon.center-block(src="../images/professionals_icon2.png")
              .content
                h3 Increase patient satisfaction and stay current
                p Research shows that 75% of patients in Singapore want to be provided with digital healthcare services [1] and the evidence shows it works [2].
            .col-sm-4.padding-15
              img.icon.center-block(src="../images/professionals_icon3.png")
              .content
                h3 Improve patient retention
                p MyDoc provides a manageable way to keep patients engaged with their health and your practice between visits.
          br
          h5 1. Data taken from McKinsey Digital Health Survey, 2014
          h5 2. Telehealth - Reviews and Perspectives for Singapore, 2014
          br

      .section.professionals-3.colored-bg
        .md-container.fluid-container.padding-15
          .row.text-center
            .col-sm-12
              h1 Product Tour
          .row.padding-15
            .col-sm-6.col-sm-push-6
              img.full-width(src="../images/professionals_1.png")
            .col-sm-6.col-sm-pull-6
              h3 Stay connected with your patients outside the clinic
              p A health diary connects your patients with their care team. This helps you monetize out of hours care and keep an eye on how they are doing between visits.
              p When you want, make yourself available for video consultations using the online scheduling tool.
          .row.padding-15
            .col-sm-6.col-sm-push-6
              img.full-width(src="../images/professionals_2.png")
            .col-sm-6.col-sm-pull-6
              h3 HIPAA & PDPA compliant peer collaboration
              p Communicate with your peers in real time using a service that does not compromise on patient data security.
              p Send and receive messages, high resolution photos, PDFs and more right from your mobile device.
          .row.padding-15
            .col-sm-6.col-sm-push-6
              img.full-width(src="../images/professionals_3.png")
            .col-sm-6.col-sm-pull-6
              h3 Seamless patient referrals
              p Refer patients to your colleagues within MyDoc without filling in any paper forms. Referrals become instant, preventing patients from being lost to follow-up.
          .row.padding-15
            .col-sm-6.col-sm-push-6
              img.full-width(src="../images/professionals_4.png")
            .col-sm-6.col-sm-pull-6
              h3 MyDoc works with the services that you already use
              p MyDoc is designed to streamline your existing workflow, integrating automatically integrating lab and radiology results.

      .section.professionals-4
        .md-container.fluid-container.padding-15
          .row.text-center
            .col-sm-12
              h1 Why choose MyDoc
          .row
            .col-sm-6.padding-15
              h3 You are in control of your time
              p Our simple scheduling system allows you to ensure your free time stays that way.
            .col-sm-6.padding-15
              h3 Serious about security
              p You and your data are safe. We are medically insured and fully HIPAA and PDPA compliant.
            .col-sm-6.padding-15
              h3 No upfront costs
              p Zero fancy hardware or expensive software licences - just one simple monthly fee.
            .col-sm-6.padding-15
              h3 For doctors, by doctors
              p We are local to Singapore and always on hand to help your practice succeed.
            .col-sm-6.padding-15
              h3 Future proof your practice
              p With no upgrade costs, you will get new features as we release them.
            .col-sm-6.padding-15
              h3 Benefit from our corporate clients
              p Tap into MyDoc's client base to generate new leads.
          .row.text-center
            .col-sm-12
              p.open-quote “
              h1.quote MyDoc ticks all the boxes and is something all hospitals and healthcare personnel should consider promoting.
              p.close-quote ”
              p — The Application of Telemedicine in Orthopedic Surgery in Singapore, JMIR
              br
      #pricing.section.professionals-5.colored-bg
        .md-container.fluid-container.padding-15
          .row.text-center
            .col-sm-12
              h1 Pricing and Signup
          .row
            .col-sm-6.clearfix.padding-15
              .price-panel.basic
                .head
                  h1 BASIC PRO 
                    br
                    | ACCOUNT
                .content
                  p Secure peer communication
                  p Share PDF/images text and more
                  p Fully HIPAA/PDPA compliant
                .foot
                  div.btn.md-btn.rounded.colored.green.full-width.show-professionals-signup-dialog Register Now
                  p FREE
            .col-sm-6.clearfix.padding-15
              .price-panel.paid
                .head
                  h1 PAID PRO 
                    br
                    | ACCOUNT
                .content
                  p Secure peer communication
                  p Share PDF/images text and more
                  p Fully HIPAA/PDPA compliant
                  p Online appointment scheduling
                  p Patient diary
                  p Paperless e-referrals
                  p Lab result integration
                  p Medical device integration
                  p Video consultation platform
                .foot
                  a.btn.md-btn.rounded.colored.blue.full-width(href="contact.html") Request Demo
                  p Contact us for pricing
    include partials/footer
